@import "tailwindcss";
@plugin "daisyui";


/* @import "daisyui/components";
@import "daisyui/themes";
@import "daisyui/utilities";  */




/* @import "tailwindcss/typography";
@import "tailwindcss/forms";
@import "tailwindcss/line-clamp";
@import "tailwindcss/typography/extend"; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
